auto-save-list/
bookmarks
company-statistics-cache.el
delve-store/
eln-cache/
eshell/
history
history~
org-roam.db
projectile-bookmarks.eld
projectile.cache
projects
recentf
snippets/
straight/
tramp
transient/
url/
workgroups
.cache
.org-id-locations
.emacs.desktop*
.lsp-*
emacs-config.el
emacs-config.html
